.panel-buttons{
  padding: 1.875vw;
  width: 8.891vw;
  height: 11.016vw;
  flex-wrap:wrap;
  display: flex;
  column-count: 3;
}
.button-simple{
  display: block;
  border-radius: 100px;
  margin: 0.4vw;
  height: 2.109vw;
  width: 2.109vw;
  background: #202020;
}
.turns{
  box-sizing: border-box;
  background-clip:content-box;
  width: 1.467vw;
  height: 1.467vw;
  margin-top: 0.634vw;
}
.turns:nth-of-type(1){
  margin-top: 0;
}
.rectangle{
  display: block;
  position: absolute;
  width: 0.200vw;
  height: 0.901vw;
  background: #929292;
  z-index: 1;
  margin-left: 0.634vw;
  margin-top: -0.1vw;
}
.circle{
  display: block;
  position: absolute;
  width: 1.467vw;
  height: 1.467vw;
  background: #000;
  border-radius: 100px;
  z-index: 0;
}
.micro-p{
  display: inline-block;
  background: #1E1E1E;
  color: gray;
  width:7.578vw;
  height: 3.906vw;
  border-top: dashed 1.172vw;
  border-bottom: dashed 1.172vw;
}
.micro-p p{
  margin: 1.328vw 0.313vw;
  font-size: 0.5vw;
  line-height: normal;
  color: #322716;
}
.electronics{
  display: inline-block;
  width: 8.594vw;
  height: 8.594vw;
  background: #474747;
}
.el-in{
  margin-top: 5.625vw;
  margin-left: 0.469vw;
  color: #CFCFCF;
}
.el-in p{
  font-size: 0.703vw;
}
/* .border{
  width: 87px;
  height: 6px;
  color: #83653A;
  align-self: center;
} */
.panel-lever{
  width: 15.703vw;
  height: 12.969vw;
  background: #484848;
  border-radius: 1.172vw;
}
.lever{
  display: inline-block;
  height: 4.817vw;
  width: 5.902vw;
}
.black{
  display: block;
  width: 5.902vw;
  height: 1.084vw;
  background: #000000;
}
.hand{
  margin-top: -0.859vw;
  margin-left: 1.172vw;
  display: block;
  width: 2.497vw;
  height: 0.605vw;
  background: #C4C4C4;
}
.white{
  margin-left: 1.172vw;
  margin-top: -2.734vw;
  display: block;
  width: 0.908vw;
  height: 4.817vw;
  background: #FFFFFF;
  border-radius: 10px;
}
