body{
  background-color: #000;
  font-family: Geometria;
}
.ship{
  margin: 0 29.531vw;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.ship img{
  margin: 0 auto;
  top: 0;
  height: 57.734vw;
  width: 40.938vw;
}
.belt{
  position: absolute;
  top: 0;
  width: 44.766vw;
  height: 457.813vw;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: auto;
  background-image: url('../images/c-belt.svg');
  background-size: contain;
  z-index: 2;
}
.panel{
  width: 14.531vw;
  height: 31.172vw;
  margin-left: 6.719vw;
  background: #484848;
  border-radius: 0.938vw;
}
.plates{
  margin-left: 88.281vw;
}
.electropanel{
  margin-top: 7.813vw;
  margin-left: 6.719vw;
}
.panel-lever{
  width: 15.703vw;
  height: 12.969vw;
  background: #484848;
  border-radius: 1.172vw;
}
.work-pls{
  margin-left: 88.281vw;
}
.panel-lever-b{
  width: 25.391vw;
  height: 26.953vw;
}
.text{
  color: white;
  width: 5vw;
  margin: 10.156vw 6.719vw;
}
.navigation{
  margin-left: 88.281vw
}
h1{
  font-size: 7.813vw;
}
h2{
  font-size: 1.875vw;
}
