body{
  background: #000;
  font-family: Geometria;
}
.wrap{
  background: linear-gradient(180deg, #2D2D2D 0%, #000000 100%);
  width: 100%;
  display: grid;
  grid-template-columns: .62fr 1fr .62fr;
  grid-template-rows: .74fr .26fr;
}
.bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  position: relative;
}
.left{
  display: grid;
}
.center{
  display: grid;
}
.right{
  display: grid;
}
.ship{
  transform: translate(-50%, 0);
  left: 50%;
  position: fixed;
  top: 3vw;
  z-index: 3;
}
.ship img{
  height: 45vw;
  width: auto;
}
.belt{
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url('../images/c-belt.svg');
  background-size: contain;
  z-index: 2;
}
.bottom{
  position: relative;
}
.belt2{
  position: absolute;
  width: 44%;
  height: 100%;
  background-size: cover;
  left: 28%;
}
.panel{
  width: 14.531vw;
  height: 31.172vw;
  margin-top: 5vh;
  margin-left: 6.719vw;
  background: #484848;
  border-radius: 0.938vw;
}
.plates{
  margin-left: 12vw;
  margin-top: -70vh;
}
.panel-b-2{
  background: #000;
  width: 100%;
  height: 80vh;
  margin-top: 60vh;
  margin-bottom: 40vh;
}
.electropanel{
  position: relative;
  width: 9vw;
  height: 10vh;
  margin-top: 5vh;
  margin-left: 6.719vw;
  margin-bottom: 33.438vh;
}
.panel-lever{
  width: 15.703vw;
  height: 20vh;
  background: #484848;
  border-radius: 1.172vw;
  /* overflow: hidden; */
  display: block;
  margin-left: 6.719vw;
  margin-top: 180vh;
}
.panel-lever-c{
  margin-left: 6.719vw;
}
.panel-lever-b{
  margin-top: 20vh;
  margin-bottom: 60vh;
  width: 25.391vw;
  height: 26.953vw;
}
.text{
  color: white;
  margin: 10vw 6.719vw;
  height: 20vh;
}
.navigation{
  width: 16.5vw;
  margin-top: 80vh;
  margin-left: 5vw;
}
.panel3{
  position: relative;
  background:#000;
  margin-top: 5vh;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  animation: 6s p3-bg infinite linear;
}
h1{
  font-size: 7.813vw;
}
h2{
  font-size: 1.875vw;
}
.stars{
  position: relative;
  height: 200vh;
}
.footer{
  height: 5vh;
  width: 100%;
}
.footer h1{
  margin: -5vh 2vw;
  color: #fff;
  font-size: 2vh;
}
