@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
	.w1,.w2,.w3{
		display: none;
	}
	.wrap > * > *{
		margin: 0;
	}
	.left > *,.right > *{
		zoom: 1.5;
	}
	.wrap > *{
		display: block;
	}
	.wrap{
		width: 100%;
		display: block;
	}
	.right{
		position: absolute;
		top: 0;
		z-index: 4;
	}
	.left{
		position: relative;
		z-index: 4;
	}
	.text{
		margin-left: 30vw;
		display: flex;
		z-index: 4;
		zoom: 1;
	}
	.text:first-of-type{
		margin-top: 5vh;
	}
	#t-b{
		margin-top: 70vh;
	}
	.belt{
		width: 60%;
		/* height: 1080vh; */
		height: 930%
	}
	.ship{
		top: 40vw;
	}
	.ship img{
		height: 80vw;
	}
	h1{
		font-size: 140px;
	}
	h2{
		padding: 2vw;
		font-size: 40px;
	}
	.panel{
		margin-top: 40vw;
	}
	.panel-lever-c{
		margin-top: 0
	}
	.electropanel{
		margin-top: 30vw;
	}
	.panel-lever-c{
		margin-left: -2vw;
		margin-top: 37vw;
	}
	.panel-lever-b{
		margin-top: 20vw;
		margin-left: -5vw;
	}
	.plates{
		margin-top: 120vw;
	}
	.panel-lever{
		margin-top: 100vw;
	}
	.navigation{
		margin-top: 220vw;
	}
	.bottom{
		margin-top: 200vw;
	}
}
@media all and (device-height: 568px) and (device-height: 731px) and (orientation: portrait){
	.belt{
		height: 1080vh;
	}
}
@media all and (device-height: 731px) and (orientation: portrait){
	.belt{
		height: 1075vh;
	}
}
