/* @media all{
	*{
	 outline: 1px solid red;
	} */
@media all and (min-width: 480px) and (max-width: 1024px){
	.w1,.w2,.w3{
		display: none;
	}
	.panel-b-2-2{
		display: none;
	}
	.wrap{
		grid-template-columns: .62fr 1fr;
	}
	.belt2{
		left: 38.3%;
		width: 61.727vw;
	}
	.ship{
		top: 10vh;
		transform: translate(-90%, 0);
	  left: 90%;
	}
	.ship img{
	  height: 70vw;
	  width: auto;
	}
	.left{
		display: block;
		grid-row: 1;
		grid-column-start: 1;
	}
	.right{
		display: block;
		grid-row: 1;
		grid-column-start: 1;
	}
	.center{
		grid-column-start: 2;
	}
	.panel{
		margin-top: 10vh;
	}
	.electropanel{
		margin-top: 20vw;
		margin-bottom: 80vw;
	}
	.panel-lever-c{
		margin-bottom: 10vw;
	}
	.plates{
		margin-top: 70vh;
	}
	.panel-b-2{
		margin-top: 50vh;
		margin-bottom: 30vh;
	}
	.text{
		height: 10vh;
	}
	.panel-lever{
		margin-top: 120vh;
	}
	.panel-lever-b{
		margin-top: 5vh;
	}
	.navigation{
		height: 30vh;
		margin-top: 120vh;
		margin-bottom: 20vh;
	}
 	.panel3{
		height: 50vh;
	}
	.l2{
		height: 50vh;
	}
	.exit{
		margin-top: -34vh;
	}
}
@media all and (min-width: 320px) and (max-width: 480px){
	.w1,.w2,.w3{
		display: none;
	}
	.left > *,.right > *{
		transform: scale(1.5);
		margin: 0;
	}
	.ship{
		top: 30vh;
	}
	.text{
		position: absolute;
		left: 38%;
		width: 10vw;
		display: flex;
		z-index: 4;
	}
	.text:first-of-type{
		top: 10vh;
	}
	#t-b{
		top: 170vh;
	}
	#t-c{
		top: 240vh;
	}
	h2{
		margin: 1vh;
	}
	.panel{
		margin-top: 25vh;
		margin-left: 7vw;
	}
	.plates{
		margin-top:40vh;
		margin-left: 10vw;
	}
	.panel-b-2{
		margin-top:40vh;
	}
	.panel-b-2-2{
		margin-top:-7.6vh;
	}
	.electropanel{
		margin-top: 90vh;
		margin-left: 7vw;
	}
	.panel-lever{
		margin-top: 30vh;
		margin-left: 7vw;
	}
	.panel-lever-c{
		margin-top: 70vh;
	}
	.panel-lever-b{
		margin-top: 10vh;
		margin-left: -1.5vw;
		margin-bottom: 20vh;
	}
	.navigation{
		margin-top: 40vh;
		margin-left: 6vw;
	}
	.l2{
		height: 90vh;
	}
	.exit{
		margin-top: -30vh;
	}
}
